<nav>
    <div class="nav-wrapper navstyle">
        <a href="#!" class="brand-logo">The web screper</a>
        <ul class="right hide-on-med-and-down">
            <li><a class="waves-effect waves-light btn button">Load new Article</a></li>
            <li><a href="/savedarticle" class="waves-effect waves-light btn button">Saved Article</a></li>
            
        </ul>
    </div>
</nav>
